# # Global options block
# {
#     # Use the Let's Encrypt staging environment to avoid rate limits during testing
#     acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
# }

# Auto HTTPS with Let’s Encrypt


# Web app
{$TALKIE_DOMAIN} {
    encode gzip

    handle_path /_next/static/* {
        root * /srv/app/.next
        file_server
        header Cache-Control "public, max-age=31536000, immutable"
    }
    reverse_proxy web:3000
}

# API
{$API_TALKIE_DOMAIN} {
reverse_proxy api:3001
}

# LiveKit WS/HTTP
{$LIVEKIT_TALKIE_DOMAIN} {
reverse_proxy livekit:7880
}

# Just to trigger a cert for TURN
turn.talkie.k1nval.com {
  respond "TURN endpoint" 200
}